{% block head %}
<title>JAMMA Comment</title>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endblock %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  input, h3, h4, h6, p, textarea, button {
    font-family: 'Inter', sans-serif;
  }

  body {
            background-color: black;
        }

  textarea {
    resize: none;
  }

</style>

{% block body %}

  <!-- if a user is unauthorized, JAMMA Comments shows its Anonymous UI to the user -->
  <!-- which requires user to input their username, email, phone number and the message -->

  {% if username == None %}
    <form action="/submit_message" class="w3-container w3-card-4 w3-text-yellow w3-round-large" method="post">
      <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge material-icons">person</i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border w3-round-large w3-text-white" name="username" type="text" placeholder="User Name" style="background-color: #252a37;" required>
          </div>
      </div>

      <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge material-icons">email</i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border w3-round-large w3-text-white" name="email" type="text" placeholder="Email" style="background-color: #252a37;" required>
          </div>
      </div>

      <div class="w3-row w3-section">
          <div class="w3-col " style="width:50px"><i class="w3-xxlarge material-icons">phone</i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border w3-round-large w3-text-white" name="tel" type="text" placeholder="Phone" style="background-color: #252a37;">
          </div>
      </div>

      <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge material-icons">message</i></div>
          <div class="w3-rest">
            <textarea rows="5" class="w3-input w3-border w3-round-large w3-text-white" name="message" type="text" placeholder="Comment" style="background-color: #252a37;" required></textarea>
          </div>
      </div>

      <input type="submit" value="Submit" class="w3-button w3-block w3-section w3-yellow w3-ripple w3-padding w3-round-large">
    </form>

    <!-- If there are messages-->
    {% if messages %}
      <div class="w3-card-4 w3-container w3-text-white w3-round-large">
        <h3>{{ messages | length }} Responses: </h3> 
        {% for message, timestamp in messages|dictsort(reverse=true) %}
          {% if messages[message].deleted != "True" %}
              <div class="w3-row w3-border w3-round-large w3-hover-shadow comment" style="background-color: #252a37;">

                <div class="w3-col" style="width:65px">
                  <img src="{{ messages[message]['profile_url'] }}" alt="" width="50px" class="w3-margin w3-round-xxlarge" loading="lazy">
                </div>
                <div class="w3-rest w3-container">
                  <h6 class="w3-text-white">{{ messages[message].userName }}:</h6>
                  <p class="w3-text-white w3-medium"> {{ messages[message].body }} </p>
                </div>
              </div>
              <br>
          {% endif %}
        {% endfor %}
      </div>

    {% else %}
      <div class="w3-container w3-card-4 w3-text-white w3-margin w3-round-large">
        <h6 style="margin:2%">No one has shared their thoughts yet. Be the first!</h6>
      </div>
    {% endif %}




  <!-- This will show up if the user is logged in -->
  {% else %}

    <form action="/submit_message_authdUser" class="w3-container w3-card-4 w3-text-blue w3-round-large" method="post">

      {% if feedback %}
        <div class="w3-panel w3-green w3-border w3-round">
          <p>{{feedback}}</p>
        </div>
      {% endif %}
      
      <div class="w3-row w3-section">
        <div class="w3-col" style="width:80px"><img src="{{profile_url}}" alt="" class="w3-round-xxlarge" width="65px" loading="lazy"></div>
        <div class="w3-rest">
          <textarea rows="5" class="w3-input w3-border w3-round-large w3-text-white" name="message" type="text" placeholder="Commenting as {{username}}" style="background-color: #252a37;" required></textarea>
        </div>
      </div>

      <input name="username" type="hidden" value="{{username}}">
      <input type="submit" value="Submit" class="w3-button w3-block w3-section w3-yellow w3-ripple w3-padding w3-round-large">

    </form>

    {% if messages %}
      <div class="w3-card-4 w3-container w3-text-white w3-round-large">
        <h3>{{ messages | length }} Responses: </h3> 
        {% for message, timestamp in messages|dictsort(reverse=true) %}
          {% if messages[message].deleted != "True" %}
            <div class="w3-row w3-border w3-round-large comment w3-margin-top w3-margin-bottom" style="background-color: #252a37;">

              <div class="w3-col" style="width:65px;">
                <img src="{{ messages[message]['profile_url'] }}" alt="" width="50px" class="w3-margin w3-round-xxlarge" loading="lazy">
              </div>
              
              <div class="w3-rest w3-container" onmouseenter="document.getElementById('{{message}}_commentoptions').style.display='block'" onmouseleave="document.getElementById('{{message}}_commentoptions').style.display='none'">
                <h6 class="w3-text-white">{{ messages[message].userName }}:</h6>
                <p class="w3-text-white w3-medium"> {{ messages[message].body }}</p>

                <!-- userName is from the comments database -->
                <!-- username is what JAMMA sent through link parameter, who is currently logged in at JAMMA -->
                <!-- So in essense, you're trying to verify if the user that made this comment is the same that's logged in right now. Then you will show them the option to either edit or delete their comment. -->

                <!-- {{message}} returns the unique key ID that Firebase generated for that comment -->

                  {% if messages[message].userName == username %}
                    <div id="{{message}}_commentoptions" style="display:none" class="w3-animate-bottom w3-right">
                      <div class="w3-row w3-bar">

                        <div id="{{message}}_editbox" class="w3-third w3-container w3-bar-item w3-left-align">
                          <form action="/edit_message_authdUser" method="post">

                            <button id="{{message}}_inactive_editbutton" class="w3-btn w3-border w3-round-large w3-hover-yellow" onmousedown="document.getElementById('{{message}}_newcomment').style.display='block';document.getElementById('{{message}}_active_editbutton').style.display='block';document.getElementById('{{message}}_inactive_editbutton').style.display='none';document.getElementById('{{message}}_submit_commentoptions').style.display='block';document.getElementById('{{message}}_replybox').style.display='none';document.getElementById('{{message}}_deletebox').style.display='none'">Edit</button>

                            <button id="{{message}}_active_editbutton" style="display:none" class="w3-btn w3-border w3-round-large w3-yellow" onmousedown="document.getElementById('{{message}}_newcomment').style.display='none';document.getElementById('{{message}}_inactive_editbutton').style.display='block';document.getElementById('{{message}}_active_editbutton').style.display='none';document.getElementById('{{message}}_submit_commentoptions').style.display='none';document.getElementById('{{message}}_replybox').style.display='block';document.getElementById('{{message}}_deletebox').style.display='block'">Edit</button>

                            <input name="message_id" type="hidden" value="{{message}}">

                            <textarea rows="5" cols="50" id="{{message}}_newcomment" class="w3-input w3-border w3-round-large w3-text-white w3-margin w3-animate-bottom" style="display:none;background-color: #252a37;" name="new_comment" type="text" placeholder="What's your new thought {{username}}?" required>{{ messages[message].body }}</textarea>

                            <input id="{{message}}_submit_commentoptions" type="submit" value="Submit" class="w3-button w3-btn w3-border w3-margin w3-round-large w3-right w3-animate-bottom" style="display:none;">

                          </form>
                        </div>

                        <div id="{{message}}_replybox" class="w3-third w3-container w3-bar-item">
                          <form action="/comment_on_comment_authdUser" method="post">
                            <button class="w3-btn w3-border w3-round-large w3-hover-green">Reply</button>
                            <input name="message_id" type="hidden" value="{{message}}">

                            <input id="{{message}}_submit_commentoptions" type="submit" value="Submit" class="w3-button w3-btn w3-border w3-margin w3-round-large w3-right w3-animate-bottom" style="display:none;">
                          </form>
                        </div>

                        <div id="{{message}}_deletebox"class="w3-third w3-container w3-bar-item">
                          <form action="/delete_message_authdUser" method="post">
                            <button id="{{message}}_deletebutton" class="w3-btn w3-border w3-round-large w3-hover-red">Delete</button>
                            <input name="message_id" type="hidden" value="{{message}}">
                          </form>
                        </div>

                      </div>
                    </div>
                  {% endif %}
                  <!-- Only comment button shows when the user that's currently logged in is not the same as the one who made the comment. -->
                  <div id="{{message}}_commentoptions" style="display:none" class="w3-animate-bottom w3-right">
                    <form action="/comment_on_comment_authdUser" method="post">
                      <button class="w3-btn w3-border w3-round-large">Reply</button>
                    </form>
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

    {% else %}
      <div class="w3-container w3-card-4 w3-text-white w3-margin w3-round-large">
        <h6 style="margin:2%">No one has shared their thoughts yet. Be the first!</h6>
      </div>
    {% endif %}

  {% endif %}
    

{% endblock %}
